<section id="bac-desktop">
  <ik-header hide-menu="true"></ik-header>

  <div class="list">
    <ul class="ui-row ui-whitespace">
      <li class="ui-col ui-col-50" ui-sref="baccarat.index">
        <img src="imgs/desktop-bg.png">

        <div class="seat seat-1" ng-class="{'seat-show':vm.seat_1}" ng-click="vm.seat_1 = !vm.seat_1">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-2" ng-class="{'seat-show':vm.seat_2}" ng-click="vm.seat_2 = !vm.seat_2">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-3" ng-class="{'seat-show':vm.seat_3}" ng-click="vm.seat_3 = !vm.seat_3">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-4" ng-class="{'seat-show':vm.seat_4}" ng-click="vm.seat_4 = !vm.seat_4">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-5" ng-class="{'seat-show':vm.seat_5}" ng-click="vm.seat_5 = !vm.seat_5">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-6" ng-class="{'seat-show':vm.seat_6}" ng-click="vm.seat_6 = !vm.seat_6">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-7" ng-class="{'seat-show':vm.seat_7}" ng-click="vm.seat_7 = !vm.seat_7">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>
      </li>

      <li class="ui-col ui-col-50">
        <img src="imgs/desktop-bg.png">

        <div class="seat seat-1 seat-show" ui-sref="baccarat.list">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-2">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-3">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-4 seat-show">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-5">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-6 seat-show">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-7 seat-show">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>
      </li>

      <li class="ui-col ui-col-50">
        <img src="imgs/desktop-bg.png">

        <div class="seat seat-1">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-2 seat-show">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-3 seat-show">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-4">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-5 seat-show">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-6 seat-show">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>

        <div class="seat seat-7">
          <img src="imgs/seat-people.png">
          <label class="ui-nowrap ui-whitespace">DDF9327F</label>
        </div>
      </li>
    </ul>
  </div>
</section>