@require 'styls/import/vars.styl'
@require 'styls/import/mixins.styl'

[class^='ik-icon-']
  display: inline-block
  vertical-align: middle

// 中文图标
.ik-icon-ch-bg
  ik-icon('../../imgs/ch_bg.png', 30px, 30px)

// 中文图标-灰
.ik-icon-ch_grey_bg
  ik-icon('../../imgs/ch_grey_bg.png', 30px, 30px)

// 英文图标
.ik-icon-eg_bg
  ik-icon('../../imgs/eg_bg.png', 30px, 30px)

// 英文图标-灰
.ik-icon-eg_grey_bg
  ik-icon('../../imgs/eg_grey_bg.png', 30px, 30px)