@require 'styls/import/vars.styl'
@require 'styls/import/mixins.styl'

[class^='ik-icon-']
  display: inline-block
  vertical-align: middle

// 中文图标
.ik-icon-ch-bg
  ik-icon('../../imgs/ch_bg.png', 30px, 30px)

// 中文图标-灰
.ik-icon-ch_grey_bg
  ik-icon('../../imgs/ch_grey_bg.png', 30px, 30px)

// 英文图标
.ik-icon-eg_bg
  ik-icon('../../imgs/eg_bg.png', 30px, 30px)

// 英文图标-灰
.ik-icon-eg_grey_bg
  ik-icon('../../imgs/eg_grey_bg.png', 30px, 30px)

// 筹码-最大
.ik-icon-chip-max
  ik-icon('../../imgs/chip_max.png', 30px, 30px)

// 筹码-1
.ik-icon-chip1
  ik-icon('../../imgs/chip1.png', 30px, 15px)

// 筹码-10
.ik-icon-chip10
  ik-icon('../../imgs/chip10.png', 30px, 15px)

// 筹码-1000
.ik-icon-chip1000
  ik-icon('../../imgs/chip1k.png', 30px, 15px)

// 筹码-5000
.ik-icon-chip5000
  ik-icon('../../imgs/chip5k.png', 30px, 15px)

// 筹码-10k
.ik-icon-chip10k
  ik-icon('../../imgs/chip10k.png', 30px, 15px)

// 筹码-50
.ik-icon-chip50
  ik-icon('../../imgs/chip50.png', 30px, 15px)

// 筹码-50k
.ik-icon-chip50k
  ik-icon('../../imgs/chip50k.png', 30px, 15px)

// 筹码-100
.ik-icon-chip100
  ik-icon('../../imgs/chip100.png', 30px, 15px)

// 筹码-100k
.ik-icon-chip100k
  ik-icon('../../imgs/chip100k.png', 30px, 15px)

// 筹码-500
.ik-icon-chip500
  ik-icon('../../imgs/chip500.png', 30px, 15px)

// 筹码-500k
.ik-icon-chip500k
  ik-icon('../../imgs/chip500k.png', 30px, 15px)