.bac-list
  .container-wrap
    background: rgba(0, 0, 0, .5)
    padding: 10px 5px
  .item
    display: flex

  .left
    width: 90px
    height: 170px
    margin-right: 5px
    img
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      height: 145px
      width: 100%
      display: block
    .time
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px
      height: 25px
      background: #675b45
      color: #fff

  .right
    width: 100%
    .main
      padding-top: 5px
      background: #fff
      border-top-left-radius: 5px
      border-top-right-radius: 5px
    .info
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px
      height: 25px
      background: #675b45
      color: #fff
