<div class="comp-grid">
  <div style="overflow-x: scroll;">
    <table>
      <tr ng-repeat="item in [1, 2, 3, 4, 5, 6]">
        <td ng-repeat="ii in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]">
          <!--<div class="blue top-left top-right">闲</div>-->
          <div class="red no-bgr top-left">1</div>
          <!--<div class="green">和</div>-->
          <!--<div class="green line">/</div>-->

          <!--<div class="blue-border">庄</div>-->
        </td>
      </tr>
    </table>
  </div>
</div>