@require '/styls/import/vars.styl'
@require '/styls/import/mixins.styl'

.notice
  background: rgba(0, 0, 0, .5)
  color: #dcd17f
  font-size: 16px
  position: fixed
  bottom: 0
  width: 100%
  padding: 5px 0 3px 10px
  .alarm
    height: 20px
  marquee
    width: 92%
