@require '/styls/import/vars.styl'
@require '/styls/import/mixins.styl'

.comp-chip
  width: 48px
  position: fixed
  color: #fff
  right: 0
  top: 45px
  text-align: center
  bottom: 0
  background: rgba(0, 0, 0, .5)
  img
    display: block
    width: 100%
  .down
    position: absolute
    bottom: 5px
    left: 0
  ul
    height: 88%
    overflow-y: scroll
  li
    padding: 0 2px 5px 2px
    border: 1px solid transparent
    &.active
      border-color: #ccaf53