.index
  .content
    padding: 60px 20px 0
  .item
    width: 33.33%
    float: left
    text-align: center
    margin-bottom: 10px
    position: relative
    .center
      width: 40%
      position: absolute
      left: 0
      top: -10%
      right: 0
      bottom: 0
      margin: auto
    span.center
      display: block
      top: 50%
      margin-top: -24px
      width: 100%
      color: #fff
      font-size: 24px
      text-shadow: 2px 2px 2px #000;
