<div class="comp-way">

  <div class="info">
    <header>LR01:彩池</header>
    <ul class="content">
      <li>asasa: <span>asas</span></li>
      <li>asasa: <span>asas</span></li>
      <li>asasa: <span>asas</span></li>
      <li>asasa: <span>asas</span></li>
      <li>asasa: <span>asas</span></li>
      <li>asasa: <span>asas</span></li>
    </ul>
  </div>

  <div class="way">
    <div class="content">
      <ik-result-list data-type="{{type}}" ng-click="vm.openSelect()"></ik-result-list>
    </div>
    <img ng-src="{{pic}}"
         ng-click="toggle()">
  </div>

</div>